{% extends "layout.html" %}
{% block body %}
  {% if session.user_id %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Player:
			<select name="receiver">
				{% for user in users %}
					<option value="{{ user.id }}">{{ user.name }}</option>
				{% endfor %}
			</select>
		</dt>
		<dt>Task:
			<select name="task">
				{% for task in tasks %}
					<option value="{{ task.id }}">{{ task.title }}</option>
				{% endfor %}
			</select>
		</dt>
		<dt><input type="submit" value="Add Entry"></dt>
      </dl>
    </form>
  {% endif %}
{% endblock %}