<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Game of Gnar</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.mobile-1.3.1.min.css') }}">
  <script type=text/javascript src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='jquery.mobile-1.3.1.min.js') }}"></script>
</head>
<body>
<div data-role=page>
  <div data-role=header>
    <h1><a href="/">Game of Gnar</a></h1>
    {% if not session.user_id %}
      <a href="{{ url_for('login') }}">log in</a> <a href="{{ url_for('register') }}">register</a>
    {% else %}
      <a href="{{ url_for('add_entry') }}">add entry</a> <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>
  <div data-role=content>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</div>
</body>