{% extends "layout.html" %}
{% block body %}
  {% for user in users %}
    <li>{{ user.name }} - {{ user.score }}</li>
  {% else %}
    <em>No players.</em>
  {% endfor %}
  </ul>
  <div data-role="collapsible-set" data-content-theme="d">
  {% for entry in entries %}
    <div data-role="collapsible" data-collapsed="true">
    <h3>
     {{ entry.task|get_task_title }}
	</h3>
    <p>
	  submitted by <a href="{{ url_for('profile', id=entry.sender) }}">{{ entry.sender|get_user_name }}</a> for
		{% if entry.sender == entry.receiver %}
		  himself
		{% else %}
		  {{ entry.receiver|get_user_name }}
		{% endif %}
		on {{ entry.pub_date }}
	  {% if entry.proof %}
	    <p><img height=100 src="{{ url_for('static', filename=entry.proof) }}"></p>
	  {% else %}
	    <p><a href="{{ url_for('add_proof', id=entry.id) }}">Add Proof</a></p>
	  {% endif %}
	    <p><a href="{{ url_for('upvote', id=entry.id) }}">Upvote</a> / <a href="{{ url_for('downvote', id=entry.id) }}">Downvote</a></p>
    </p>
    </div>
  {% endfor %}
  </div>
{% endblock %}