{% extends "layout.html" %}
{% block body %}
  <ul class=users>
  {% for user in users %}
    <li>{{ user.username }} - {{ user.score|safe }}
  {% else %}
    <li><em>No players.</em>
  {% endfor %}
  </ul>
  <ul class=entries>
  {% for entry in entries %}
    <li>{{ entry.sender|get_user_name }}</li>
    <li>{{ entry.receiver|get_user_name }}</li>
    <li>{{ entry.task|get_task_title }}</li>
    <li>{{ entry.datetime }}</li>
	<li>{{ entry.proof }}</li
	{% if entry.approval %}
	  <li>{{ entry.approval|get_approval_status }}</li>
	{% else %}
	  <li><a href=/entry/{{ entry.entry_id }}/approve>Approve</a></li>
	{% endif %}
  {% endfor %}
  </ul>
{% endblock %}