{% extends "layout.html" %}
{% block body %}
<div data-url="{{ url_for('profile', id=id) }}">
  {{ name }} - {{ id|get_score }} pts.
  <div data-role="collapsible-set" data-content-theme="d">
  {% for entry in entries %}
    <div data-role="collapsible" data-collapsed="true">
    <h3>
     {{ entry.task|get_task_title }} by {{ entry.receiver|get_user_name }}
	</h3>
    <p>
	  submitted by <a href="{{ url_for('profile', id=entry.sender) }}">{{ entry.sender|get_user_name }}</a> for
		{% if entry.sender == entry.receiver %}
		  himself
		{% else %}
		  {{ entry.receiver|get_user_name }}
		{% endif %}
		on {{ entry.pub_date|format_datetime }}
	  {% for attachment in entry.attachments %}
	    <p><img height=100 src="{{ url_for('static', filename=attachment.url) }}"></p>
	  {% endfor %}
	    <p><a href="{{ url_for('add_attachment', id=entry.id) }}">Add Attachment</a></p>
        <p><a href="{{ url_for('upvote', id=entry.id) }}">Upvote</a> / <a href="{{ url_for('downvote', id=entry.id) }}">Downvote</a></p>
   </p>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}